<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDO DXB | Welcome to TDO DXB</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />

    <link rel="stylesheet" href="/assets/css/boxicons.min.css">

    <link rel="stylesheet" href="/assets/css/animate.min.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />

    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="/assets/css/meanmenu.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/style1.css"/>
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <link rel="stylesheet" href="/assets/css/theme-dark.css" />

    <link rel="icon" href="/assets/img/img_1.png" type="image/png"/>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--text"></div>
    </div>
</div>
<%- include('../partials/header.ejs') %>
<div class="page-title-area ptb-100">
    <div class="container">
        <div class="page-title-content">
            <h1>Privacy Policy</h1>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/privacy-policy"><i class="bx bx-chevrons-right"></i>Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-image">
        <img src="/assets/img/page-title-area/contact.jpg" alt="Demo Image">
    </div>
</div>

<div class=" contact-section container mt-5">

        <div class="container">
            <div class="row">
                <h2 class="text-center"> Data Privacy and Protection</h2>
                <div class="col-lg-12">
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Introduction</h4>

                    <p>TravelDealsOnline.ae appreciates your visit to our website. We are dedicated to safeguarding your privacy, and this Privacy Policy outlines the types of information we may collect during your visit, how we might use it, and how we protect any information you choose to provide. This policy details our efforts to balance our business needs with your right to proper protection and management of any personally identifiable information you share.
                        By accessing and using our website, you consent to our use of your information as described in this policy.</p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Intellectual Property Rights</h4>
                    <p>
                        All trademarks, logos, and service marks displayed on this website, indicated with a trademark symbol or distinct text, are owned by or licensed to TravelDealsOnline.ae, its subsidiaries, or affiliates.
                        Other names and marks mentioned are the property of their respective owners.
                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Indemnity</h4>
                    <p>
                        Users agree to indemnify and hold TravelDealsOnline.ae harmless from any legal claims, actions, or proceedings arising from their use of the website, including any fraudulent credit card transactions.
                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Enforceability of Provisions</h4>
                    <p>
                        These website terms of use are governed by the laws of UAE. If any provision is found to be unlawful, void, or unenforceable, it will be limited or removed to the extent necessary, without affecting the validity of the remaining provisions. These terms represent the entire agreement between you and TravelDealsOnline.ae. You agree to indemnify us for any claims or damages resulting from your non-compliance with these terms.


                    </p>

                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Arbitration and Governing Law</h4>
                    <p>
                        All legal disputes will be resolved under UAE law. Disputes should be resolved through good faith negotiation; if unresolved within 30 days, they will be referred to binding arbitration under the Arbitration and Conciliation law of UAE, with arbitration held in Dubai. The decision will be final and binding, with Dubai courts having exclusive jurisdiction for disputes requiring court intervention.
                    </p>

                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Injunctive Relief</h4>
                    <p>

                        You acknowledge that any breach or attempted breach of this User Agreement may cause irreparable harm to TravelDealsOnline.ae, for which monetary damages would be insufficient. Therefore, TravelDealsOnline.ae is entitled to seek an injunction from any competent court to prevent such breaches, and you agree to cover all associated costs, including reasonable attorney’s fees. No bond or security is required for such an injunction.
                    </p>

                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Electronic Record</h4>
                    <p>

                        This document constitutes an electronic record, is generated by a computer system and does not require physical signatures
                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Security</h4>
                    <p>
                        We prioritize the security and confidentiality of your personal information. Although we strive to protect your data, no internet transmission is entirely secure. We use reasonable efforts, including encryption technology and firewalls, to safeguard information in our systems, but cannot guarantee complete security.
                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Minors</h4>
                    <p>
                        This website’s services and products are not intended for minors, and we do not knowingly collect personal information from anyone under the age of 18.

                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Contact Us
                    </h4>
                    <p>
                        For any questions, comments, or concerns regarding this Privacy Policy, please email us at info@TravelDealsOnline.ae


                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Consent</h4>
                    <p>
                        By using our website, you consent to the collection, use, and storage of your information as described in this Privacy Policy.
                    </p>
                    <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Amendment</h4>
                    <p>
                        We reserve the right to amend this policy at any time. Please review periodically for updates. Continued use of the website after changes indicates your acceptance of the revised Privacy Policy.

                    </p>

                </div>


            </div>

        </div>


<!--<div class="row">-->
<!--    <h2 class="text-center" style="font-size: 45px">TDO(Travel Deals Online) Privacy Policy</h2>-->
<!--    <div class="col-lg-12">-->
<!--        <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Introduction</h3>-->
<!--        <p>Welcome to TDO! At TDO, we are committed to protecting your privacy and ensuring the security of your personal-->
<!--            information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website  or use our services related to hotel booking, tour packages, vacations, destination weddings, exotic cruises, and yachts for vacation and sightseeing.</p>-->
<!--        <p>-->
<!--            All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased-->
<!--            to any third parties.-->
<!--        </p>-->

<!--        <h4 style=" color: black; font-weight: bold; font-size: 29px" class="mt-4">Information We Collect</h4>-->

<!--        <h5 style="margin-top: 10px;font-weight: bold; font-size: 25px">Personal Information</h5>-->
<!--        <p>When You Use our Service, we may collect the following personal information</p>-->
<!--        <ul style="border: solid 1px black;" class="mt-3">-->
<!--            <li class="mt-2" style="color: #39325a">Name</li>-->

<!--            <li class="mt-2" style="color: #39325a">Contact Information(email address, phone number, mailing address)</li>-->

<!--            <li class="mt-2" style="color: #39325a">Payment information (credit card details, billing address)</li>-->

<!--            <li class="mt-2" style="color: #39325a">Travel preferences and interests</li>-->

<!--            <li class="mt-2 mb-2" style="color: #39325a">Passport and visa information (for international travel bookings)</li>-->

<!--        </ul>-->
<!--        <h5 style="margin-top: 10px;font-weight: bold; font-size: 25px">Non Personal Information</h5>-->
<!--        <p>We may also collect non-personal information, such as:</p>-->
<!--        <ul style="border: solid 1px black;">-->
<!--            <li class="mt-2" style="color: #39325a">Browser type and version</li>-->
<!--            <li class="mt-2" style="color: #39325a">Operating system</li>-->
<!--            <li class="mt-2" style="color: #39325a">IP address</li>-->
<!--            <li class="mt-2" style="color: #39325a">Referring website</li>-->
<!--            <li class="mt-2" style="color: #39325a">Pages you visit on your site</li>-->
<!--            <li class="mt-2 mb-2" style="color: #39325a">Time and date of access</li>-->
<!--        </ul>-->
<!--        <h4 style="margin-top: 10px;font-weight: bold; font-size: 25px">How We Use Your Information</h4>-->
<!--        <p>We use the information we collect for the following purposes:</p>-->
<!--        <ul style="border: solid 1px black;">-->
<!--            <li class="mt-2" style="color: #39325a">To process and manage your bookings and reservations</li>-->
<!--            <li class="mt-2" style="color: #39325a">To communicate with you regarding your bookings and provide customer support</li>-->
<!--            <li class="mt-2" style="color: #39325a">To personalize your experience and tailor our services to your preferences</li>-->
<!--            <li class="mt-2" style="color: #39325a">To send promotional materials, special offers, and updates (with your consent)</li>-->
<!--            <li class="mt-2" style="color: #39325a">To improve our website and services through analytics and research</li>-->
<!--            <li class="mt-2 mb-2" style="color: #39325a">To comply with legal obligations and prevent fraud</li>-->
<!--        </ul>-->
<!--        <h4 style="margin-top: 10px;font-weight: bold; font-size: 25px">Sharing Your Information</h4>-->
<!--        <p>We may share your information with third parties in the following situations:</p>-->
<!--        <ul>-->
<!--            <li class="mt-2" style="color: #39325a">With service providers and partners who assist in the delivery of our services (e.g., hotels, tour operators, payment processors)</li>-->
<!--            <li class="mt-2" style="color: #39325a">When required by law or in response to legal processes</li>-->
<!--            <li class="mt-2" style="color: #39325a">To protect the rights, property, or safety of TDO, our customers, or others</li>-->
<!--            <li class="mt-2 mb-2" style="color: #39325a">In connection with a business transfer, such as a merger, acquisition, or sale of assets</li>-->
<!--        </ul>-->
<!--        <h4 style="margin-top: 10px;font-weight: bold; font-size: 25px">Data Security</h4>-->
<!--        <p style="text-align: justify">We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, use, or disclosure. However, please note that no method of transmission over the Internet or electronic storage is completely secure.</p>-->
<!--        <h4 style="margin-top: 10px;font-weight: bold; font-size: 25px">Your Rights</h4>-->
<!--        <ul style="border: solid 1px black;">-->
<!--            <li class="mt-2" style="color: #39325a">Access and obtain a copy of your personal information</li>-->
<!--            <li class="mt-2" style="color: #39325a">Correct any inaccuracies in your personal information</li>-->
<!--            <li class="mt-2" style="color: #39325a">Request the deletion of your personal information</li>-->
<!--            <li class="mt-2" style="color: #39325a">Object to or restrict the processing of your personal information</li>-->
<!--            <li class="mt-2 mb-2" style="color: #39325a">Withdraw your consent for us to process your personal information</li>-->
<!--        </ul>-->
<!--        <h4 style="margin-top: 10px;font-weight: bold; font-size: 25px">Changes To This Privacy Policy</h4>-->
<!--        <p style="text-align: justify">We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the effective date will be updated accordingly. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.</p>-->
<!--        <h4 style="margin-top: 10px;font-weight: bold; font-size: 25px">Contact Us</h4>-->
<!--        <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:</p>-->
<!--        <p>-->
<!--        </p><h5 style="margin-top: 10px;font-weight: bold; font-size: 25px">TDO</h5>-->
<!--        Grosvenor Business Tower, Office No. 2009, Plot No. 48, Al Thanayah 1, Barsha Heights, Dubai, UAE<br>-->
<!--        <i class="bx bx-phone mt-3" style="color: #626060;font-size: 20px"></i> <a href="tel:+971 50 539 1369" style="font-size: 18px">+971 50 539 1369</a><br>-->
<!--        <i class="bx bx-envelope mt-2" style="color: #626060;font-size: 20px"></i> <a href="mailto:support@traveldealsonline.ae" style="font-size: 18px">support@traveldealsonline.ae</a>-->
<!--        <p></p>-->
<!--    </div>-->


<!--</div>-->
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>