<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDO DXB | Welcome to TDO DXB</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />

    <link rel="stylesheet" href="/assets/css/boxicons.min.css">

    <link rel="stylesheet" href="/assets/css/animate.min.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />

    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="/assets/css/meanmenu.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/style1.css"/>
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <link rel="stylesheet" href="/assets/css/theme-dark.css" />

    <link rel="icon" href="/assets/img/img_1.png" type="image/png"/>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--text"></div>
    </div>
</div>
<%- include('../partials/header.ejs') %>
<div class="page-title-area ptb-100">
    <div class="container">
        <div class="page-title-content">
            <h1>Statutory Disclaimer</h1>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/statutory-disclaimer"><i class="bx bx-chevrons-right"></i>Statutory Disclaimer</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-image">
        <img src="/assets/img/page-title-area/contact.jpg" alt="Demo Image">
    </div>
</div>

<div class=" contact-section container mt-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Statutory Disclaimer</h2>
            <div class="col-lg-12">
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Introduction</h4>

                <p>Information and related materials are subject to change without notice. This web site and all information and related materials it contains, are provided "as is." TravelDealsOnline.ae makes no representation or warranty whatsoever regarding the completeness, accuracy, "up-to-datedness", or adequacy of, or the suitability, functionality, availability, or operation of this web site or the information or materials it contains. By using this web site, you assume the risk that the information and materials on this web site may be incomplete, inaccurate, out of date, or may not meet your needs and requirements. TravelDealsOnline.ae specifically disclaims all warranties, express or implied, including without limitation, the warranties or merchantability, fitness for a particular purpose, and non-infringement with respect to this web site and information, graphics and materials contained herein.

                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Legal Rights</h4>
                <p>
                    Nothing in this web site shall be construed as conferring by implication, estoppel or otherwise, any license or right to use in any form or manner any copyright, logo or trademark of TravelDealsOnline.ae or any form or kind of its licensed services. Please be advised that TravelDealsOnline.ae protects its intellectual property rights to the fullest extent of the law.
                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Individual Accountability</h4>
                <p>
                    If you use this site, you alone are responsible for maintaining the confidentiality of your account information, username and your password/s. You agree to accept responsibility for all activities that occur under your account or password. You represent that you are of age prescribed by law to be eligible to enter into contract, and use this to create binding reciprocal legal obligations, and are capable, ready and willing to discharge any liability you may incur as a result of the use of this site. You understand that you are financially responsible for all uses of this site by you and those using your login information including credit card and payments details.
                </p>


            </div>


        </div>

    </div>
<!--    <div class="row">-->
<!--        <h2 class="text-center" style="font-size: 45px">Cancellation and Refund Policy</h2>-->
<!--        <div class="col-lg-12">-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Introduction</h3>-->
<!--            <p>At TDO, we strive to provide exceptional service and unforgettable experiences. We understand that plans can change, so we offer a flexible cancellation and refund policy for our hotel bookings, tour packages, vacations, destination weddings, exotic cruises, and yachts for vacation and sightseeing.</p>-->

<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Refund Policy</h3>-->
<!--            <p>-->
<!--                Refunds will be done only through the Original Mode of Payment.-->
<!--            </p>-->

<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Method of Payment</h3>-->
<!--            <p><b>Card Types accepted and Currency:</b>&nbsp;-->
<!--                We accept payments online using Visa and MasterCard credit/debit card in AED .-->
<!--            </p>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Cancellation &amp; Replacement Policy</h3>-->

<!--            <ul style="border: solid 1px black;">-->
<!--                <li class="mt-2" style="color: #39325a"><b>Cancellations:</b> Cancellations made 20 days before the check-in date will receive a full refund. Cancellations made within 10 days of the check-in date will incur-->
<!--                    a cancellation fee of 10% of the booking amount.</li>-->

<!--                <li class="mt-2" style="color: #39325a"><b>No-Shows:</b> No-shows will be charged the full booking amount and will not be eligible for a refund.</li>-->

<!--                <li class="mt-2 mb-2" style="color: #39325a"><b>Changes:</b> Changes to your booking are subject to availability and may incur additional fees. Please contact our customer service team for assistance.</li>-->
<!--            </ul>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Tour Packages and Vacations</h3>-->

<!--            <ul style="border: solid 1px black;">-->
<!--                <li class="mt-2" style="color: #39325a"><b>Cancellations:</b> Cancellations made 30 days before the start date of the tour or vacation will receive a full refund. Cancellations made within 15 days of the start date will incur a cancellation fee of 15% of the booking amount.</li>-->
<!--                <li class="mt-2" style="color: #39325a"><b>No-Shows:</b> No-shows will be charged the full booking amount and will not be eligible for a refund.</li>-->
<!--                <li class="mt-2 mb-2" style="color: #39325a"><b>Changes:</b> Changes to your tour or vacation package are subject to availability and may incur additional fees. Please contact our customer service team for assistance.</li>-->

<!--            </ul>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Destination Weddings</h3>-->

<!--            <ul style="border: solid 1px black;">-->
<!--                <li class="mt-2" style="color: #39325a"><b>Cancellations:</b> Cancellations made 180 days before the wedding date will receive a full refund. Cancellations made within 90 days of the wedding date will incur a cancellation fee of 40% of the booking amount.</li>-->
<!--                <li class="mt-2" style="color: #39325a"><b>No-Shows:</b> No-shows will be charged the full booking amount and will not be eligible for a refund.</li>-->
<!--                <li class="mt-2 mb-2" style="color: #39325a"><b>Changes:</b> Changes to your wedding arrangements are subject to availability and may incur additional fees. Please contact our customer service team for assistance.</li>-->

<!--            </ul>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Exotic Cruises and Yachts</h3>-->
<!--            <ul style="border: solid 1px black;">-->
<!--                <li class="mt-2" style="color: #39325a"><b>Cancellations:</b> Cancellations made 20 days before the departure date will receive a full refund. Cancellations made within 10 days of the departure date will incur a cancellation fee of 20% of the booking amount.</li>-->
<!--                <li class="mt-2" style="color: #39325a"><b>No-Shows:</b> No-shows will be charged the full booking amount and will not be eligible for a refund</li>-->
<!--                <li class="mt-2 mb-2" style="color: #39325a"><b>Changes:</b> Changes to your cruise or yacht booking are subject to availability and may incur additional fees. Please contact our customer service team for assistance.</li>-->
<!--            </ul>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Refund Process</h3>-->
<!--            <ul style="border: solid 1px black;">-->
<!--                <li class="mt-2" style="color: #39325a"><b>Refund Requests:</b> To request a refund, please contact our customer service team at <a href="mailto:support@traveldealsonline.ae">support@traveldealsonline.ae</a> with your booking details and reason for cancellation.</li>-->
<!--                <li class="mt-2" style="color: #39325a"><b>Processing Time:</b> Refunds will be processed within 10 business days from the date of approval. The refund will be issued to the original payment method.</li>-->
<!--                <li class="mt-2 mb-2" style="color: #39325a"><b>Non-Refundable Fees:</b> Certain fees, such as booking fees, service charges, and taxes, may be non-refundable. These will be clearly stated at the time of booking.</li>-->
<!--            </ul>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Exceptions</h3>-->
<!--            <p>In exceptional circumstances, such as natural disasters, pandemics, or other unforeseen events, we may offer special cancellation and refund policies. Please refer to specific terms and conditions provided at the time of booking.</p>-->

<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Contact Us</h3>-->
<!--            <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:</p>-->
<!--            <p>-->
<!--            </p>-->
<!--            <h5 style="margin-top: 10px;font-weight: bold; font-size: 25px">TDO</h5>-->
<!--            Grosvenor Business Tower, Office No. 2009, Plot No. 48, Al Thanayah 1, Barsha Heights, Dubai, UAE<br>-->
<!--            <i class="bx bx-phone mt-3" style="color: #626060;font-size: 20px"></i> <a href="tel:+971 50 539 1369" style="font-size: 18px">+971 50 539 1369</a><br>-->
<!--            <i class="bx bx-envelope mt-2" style="color: #626060;font-size: 20px"></i> <a href="mailto:support@traveldealsonline.ae" style="font-size: 18px">support@traveldealsonline.ae</a>-->
<!--            <p></p>-->
<!--            <p></p>-->
<!--        </div>-->


<!--    </div>-->
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>