<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDO DXB | Welcome to TDO DXB</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />

    <link rel="stylesheet" href="/assets/css/boxicons.min.css">

    <link rel="stylesheet" href="/assets/css/animate.min.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />

    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="/assets/css/meanmenu.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/style1.css"/>
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <link rel="stylesheet" href="/assets/css/theme-dark.css" />

    <link rel="icon" href="/assets/img/img_1.png" type="image/png"/>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--text"></div>
    </div>
</div>
<%- include('../partials/header.ejs') %>
<div class="page-title-area ptb-100">
    <div class="container">
        <div class="page-title-content">
            <h1>Terms and Conditions</h1>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/terms-condition"><i class="bx bx-chevrons-right"></i>Terms and Conditionsy</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-image">
        <img src="/assets/img/page-title-area/contact.jpg" alt="Demo Image">
    </div>
</div>

<div class=" contact-section container mt-5">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Terms & Conditions Of Use</h2>
            <div class="col-lg-12">
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">PLEASE READ THESE TERMS & CONDITIONS OF USE CAREFULLY</h4>

                <p>
                    TravelDealsOnline.ae operates under The Golden Gateways Travels LLC. In these terms, "we" and "us" refer to TravelDealsOnline.ae and its affiliates, while "you" refers to the customer booking a reservation directly through TravelDealsOnline.ae (“this website”) or indirectly through our affiliates. These terms outline the conditions for accessing and using this website. We reserve the right to modify these terms, conditions, and notices, and you agree to comply with and be bound by the terms that are effective at the time you use our website and services.
                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">
                    Information Provided on This Website</h4>
                <p>
                    The content on this website is intended as a general information resource and is provided on an "AS IS" and "AS AVAILABLE" basis. We do not guarantee the quality or availability of any travel packages, plans, or advice published on this website.
                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Using this Website</h4>
                <p>
                    This website is intended for personal, non-commercial use. You agree not to use this website or its content for any commercial or non-personal purpose (directly or indirectly). While you may view, use, and download limited copies of your travel itinerary (and related documents), you agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, sell, or resell any information, content, or services obtained from this website. Additionally, you agree not to use this website for any unlawful purpose or one prohibited by these terms, conditions, and notices.
                </p>
                <p>
                    You affirm that you are at least 18 years old and have the legal authority to enter into this agreement and use this website in accordance with these terms. You agree to oversee any use of this website by minors under your account. You also affirm that all information provided by you or your household members is accurate. Speculative, false, or fraudulent reservations, or reservations made in anticipation of demand, are prohibited. You agree that the products and services on this website are for making legitimate reservations or purchases for yourself or others whom you are legally authorized to act on behalf of. Misuse of the website's products or services may result in denied access. You are fully responsible for all charges, fees, duties, taxes (including service tax), and assessments related to your use of this website.
                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Limitation of Liability</h4>
                <p>
                    We will make every commercially reasonable effort to ensure that the information on this website is accurate and correct. However, we do not guarantee the validity, quality, or pricing of the products and services offered. For more details, you can view our Disclaimer Policy.
                </p>

                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Right to Cancellation</h4>
                <p>
                    You agree to provide TravelDealsOnline.ae with only accurate and valid information when requesting services under this agreement and not to misrepresent any facts. Any default on your part will invalidate this agreement and may disqualify you from receiving services from TravelDealsOnline.ae. If we discover or suspect that a service request is unauthorized or that the provided information is incorrect or misrepresented, we may, at our discretion, take any action, including cancelling bookings, without prior notice. We are not liable for any loss or damage resulting from such cancellations. You indemnify TravelDealsOnline.ae against any claims or liabilities arising from our measures taken to protect our interests and those of our genuine customers.
                </p>

                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Indemnity</h4>
                <p>
                    You agree to indemnify and hold us, including our officers, directors, employees, and agents, harmless from any claims, demands, recoveries, losses, damages, fines, penalties, or other expenses, including legal and accounting fees, resulting from: (a) Your breach of these terms of use; (b) Your violation of any law or third-party rights; or (c) Your use of this website.


                </p>

                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Software on This Website</h4>
                <p>
                    Any software available for download from this website ("Software") is copyrighted. Your use of the Software is governed by the end user license agreement provided with it ("License Agreement").

                    You agree not to use any automatic device, process, or manual method to monitor or copy our web pages or content without our prior written consent. You also agree not to use any device, software, or routine that interferes with the proper functioning of our site or any transactions occurring on our site. You must not impose an unreasonable or excessively large load on our infrastructure.
                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Fees & Payments</h4>
                <p>
                    TravelDealsOnline.ae may charge listing fees for certain listings and transaction fees for completed transactions. We also reserve the right to change fees at any time without notice. You are responsible for all charges, fees, duties, taxes, and assessments related to the use of our services. If there is a shortfall in charges due to technical or other reasons, we reserve the right to collect the balance after the transaction at our discretion.

                </p>

                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Intellectual Property Rights
                </h4>
                <p>
                    TravelDealsOnline.ae may provide content such as sound, photographs, graphics, videos, or other materials in sponsor advertisements. This material may be protected by copyrights, trademarks, or other intellectual property laws. You may use this material only as authorized by TravelDealsOnline.ae and may not copy, transmit, or create derivative works from it without express authorization.

                    You acknowledge that you shall not upload, post, reproduce, or distribute content protected by copyright or other proprietary rights without the owner's permission. Any content distributed with the owner’s consent must include the appropriate rights notice. Unauthorized submission or distribution of such content is illegal and may result in personal liability or criminal prosecution.


                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Data Protection Policy
                </h4>
                <p>
                    By agreeing to these terms, you consent to our use of your information as outlined in our Privacy Policy.


                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Copy Protection</h4>
                <p>
                    All content on this website is copyrighted by TravelDealsOnline.ae. Except for personal, non-commercial use as authorized, you may not modify, reproduce, or distribute the website’s content, design, or layout without our written permission
                </p>
                <h4 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Regulatory Framework and Dispute Settlement</h4>
                <p>
                    The use of this website is governed by UAE laws and is subject to the exclusive jurisdiction of UAE courts. Any disputes related to your use of this website will be resolved through arbitration in UAE, in accordance with prevailing UAE laws or statutory modifications. All products detailed on this website are subject to these Terms and Conditions. When booking third-party tours or travel products, additional terms specified by the operator, including payment schedules, cancellations, and refunds, apply along with our Terms and Conditions.
                </p>
                <p>
                    When you book travel services through TravelDealsOnline.ae, we must share some of your personal information with involved third parties, such as airlines, hotels, or car rental agencies, to fulfil your travel arrangements. Although we select reputable suppliers, we have no direct control over their services. We are not liable for any loss, damage, or injury resulting from third-party services advertised on our website. However, if you are dissatisfied with a service, we can address the issue with the supplier if notified promptly, as described in this document. As we make advance payments to suppliers, cancellations may result in financial losses depending on the timing of the cancellation notice.
                </p>
                <p>The applicable cancellation schedule will be based on this and other relevant factors.</p>
            </div>


        </div>

    </div>
<!--    <div class="row">-->
<!--        <h2 class="text-center" style="font-size: 45px">TDO(Travel Deals Online) Terms and Conditions</h2>-->
<!--        <div class="col-lg-12 mt-2">-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Terms &amp; Conditions</h3>-->
<!--            <p style="text-align: justify;font-size: 18px;  color: #39325a">Inclusion of applicable terms of goods/services is mandatory including but not limited to the below recommended points.-->
<!--                <br>"TDO will NOT deal or provide any services or products to any of OFAC(Office of Foreign Assets Control) sanctions-->
<!--                countries in accordance with the law of UAE".-->
<!--            </p>-->
<!--            <h3 style=" color: black; font-weight: bold; font-size: 25px" class="mt-4">Governing Law</h3>-->
<!--            <p style="text-align: justify;font-size: 18px;  color: #39325a">"Any purchase, dispute or claim arising out of or in connection with the TDO shall be governed and construed in accordance-->
<!--                with the laws of UAE".</p>-->

<!--        </div>-->


<!--    </div>-->
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>